<div>
    <div style="text-align: center;">
        <table style="width: 800px; display: inline-block; color: {{error_color}}; border: 1px solid #999; background-color: {{error_background}};">
            <tr style="text-align: left;">
                <th>Type</th>
                <th>Message</th>
                <th>File:Line</th>
            </tr>
            <tr style="">
                <td>{{exception_name}}</td>
                <td>{{error_message}}</td>
                <td>{{error_file}}:{{error_line}}</td>
            </tr>
        </table>
    </div>
</div>